<div class="container-fluid shadow-lg">
    <table class="table table-striped">
        <thead>
            <tr class="bg-dark text-light">
                <th scope="col">User</th>
                <th scope="col">Challenge</th>
                <th scope="col">Charity</th>
                <th scope="col">Donation</th>
            </tr>
        </thead>
        <tbody>
            <% @pledges.each do |pledge|%>
                <tr class="bg-light">
                    <td scope="row"><%= pledge.user.username%></td>
                    <td><%= pledge.charity.name%></td>
                    <td><%= pledge.challenge.name%></td>
                    <td>Donated: $<%= pledge.amount%>.00</td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
