<h1>All Groups</h1>


  <div class="card">
    <div class="card-header">
      All Groups
    </div>
    <ul class="list-group list-group-flush">
    <% @groups.each do |group| %> 
        <li class="list-group-item"><%= link_to(group.name, group_path(group)) %></li>
    <% end %>
  </
  <% unless  %>
    
  <% end %>
  >
  </div>
<br>

<h2><%= link_to('New Group', new_group_path) %></h2>