<h1><%= @group.name %></h1>



<ul>
  <% @group.users.each do |user| %>
    <li><%= link_to(user.name, user_path(user)) %></li>
  <% end %>
</ul>

<h2><%= link_to('All Groups', groups_path) %> |


<%= link_to("Edit", edit_group_path(@group)) %></h2>