<div class="container rounded w-25 bg-dark text-light p-2 m-3" style="position: relative; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"> 
<h4>Sign Up</h4>
</div>
<%= render 'form', user: @user %>

