 <div class="card mx-auto bg-light text-dark shadow-lg p-2" style="width: 200px; text-align: center;">
       <h2> Charities </h2>
    </div>

<div class="card-group">
<% @charities.each do |charity| %>
    <div class="card rounded" class="charity-card"
        style="border:0px solid #9a9b9c; 
            display:flex;
            margin: 30px 10px 30px 10px;
            padding: 8px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"
    >
        <h5 class="card-title">
            <%= charity.name %>
        </h5>
        <p class="card-text">
            <%= charity.description %>
        </p>
        <a href=<%=charity.url%> class="card-text">
            Donate Now!
        </a>
    </div>
    <% end %>
</div>
<div class="card mx-auto bg-light text-dark shadow-lg p-2" style="width: 200px; text-align: center;">
    <h5><%= link_to("Add a New Charity", new_charity_path) %></h5>
</div>