@import "bootstrap";


.about-title {
    color:#557a95;
}

.ext-link{
    color: #7395ae;
    text-decoration: none;
}

.ext-link:hover {
    color:#5d5c61;
    text-decoration: none;
}

.edit-btns {
    width: 50%;
}

a:hover {
    text-decoration: none;
}

.member-btns{
    background-color: #ACC2D2;
}

.member-btns:hover{
    background-color: #5d5c61;
}