<div class="container-md rounded bg-dark text-light"
    style="background-color:#e9ecef; padding:8px;">
<h1>All Challenges</h1>
    <ul class="list-group list-group-flush">
        <% @challenges.each do |challenge| %>
            <li class="list-group-item"><h4><%= link_to(challenge.name, challenge_path(challenge)) %></h4></li>
        <% end %>
    </ul>
<h4 style="padding-top:8px;"><%= link_to('Add a Challenge', new_challenge_path) %></h4>
</div>


