<div class="card shadow-lg rounded"
    style="border: 1px;
        width: 50%;">
<div class="card-header bg-dark text-light">
    <h2>All Challenges</h2>
</div>
    <ul class="list-group list-group-flush">
        <% @challenges.each do |challenge| %>
            <% if logged_in? %>
                <li class="list-group-item"><h4><%= link_to(challenge.name, challenge_path(challenge)) %></h4></li>
            <% else %>
                <li class="list-group-item"><h4><%= challenge.name %></h4></li>
            <% end %>
        <% end %>
    </ul>

</div>


