<h1>All Challenges</h1>
    <ul class="list-group list-group-flush">
        <% @challenges.each do |challenge| %>
            <li class="list-group-item"><%= link_to(challenge.name, challenge_path(challenge)) %></li>
        <% end %>
    </ul>
</div>

<br>

<h4><%= link_to('Add a Challenge', new_challenge_path) %></h4>