<div class="card w-25 bg-dark text-light" style="padding-left: 8px; margin-left:8px; margin-bottom: 10px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
<h2 class="card-header">Edit Your Tracker</h2>
</div>

<%= render("form") %>

