/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

body {
    font-family: "Railway";
    text-shadow: 2px;
}

.charity-card:hover {
    color: #1b1d20;
    background-color: #ffffff;
   
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-size: 22px;
    padding-right: 4px;
}

input number{
    width: 50px;
}

.tracker-btn{
    display:flex;
    justify-content:flex-end;
    align-items:center; 
}

@import "bootstrap";
@import "bootstrap-datepicker3"

